// links
a {
    display: inline-block;
}

.nav-link {
    color: $white;
    font-size: 22px;
    line-height: 120%;
}

.nav-link--block {
    padding: 8px 18px;
    color: $black;
    background-color: $white;
    transition: $transition-primary;
    transition-property: color background-color;

    @include hover {
        color: $white;
        background-color: $black;
    }
}

.block-link {
    background-color: $black;
    color: $white;
    padding: 18px 24px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @include hover {
        .block-link__icon {
            transform: rotate(0);
        }
    }
}

.block-link--white {
    background-color: $white;
    color: $black;
}

.block-link__icon {
    width: 12px;
    transform: rotate(45deg);
    margin-left: 4px;
    transition: $transition-primary;
    transition-property: transform;
}

.hover-default {
    transition: $transition-primary;
    transition-property: opacity;

    @include hover {
        opacity: 0.6;
    }
}