.loader {
    background-color: $white;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $transition-primary;
    transition-property: opacity;
}

.loader--fade-out {
    opacity: 0;
}

.wrap {
    max-width: 1400px;
    padding: 0 25px;
    margin: 0 auto;
}