// variables
$default-font: 'Lato', sans-serif;

$white: #fff;
$black: #000;
$light-grey: #f4f4f4;
$grey: #8a8a8a;
$primary: #1b8bff;

$transition-primary: 300ms ease-in-out;
$transition-fast: 200ms ease-in-out;