// variables
$default-font: 'Lato', sans-serif;

$white: #fff;
$black: #000;
$pale-grey: #f4f4f4;
$thin-grey: #d2d2d2;
$light-grey: #bbbbbb;
$grey: #8a8a8a;
$dark: #211c1d;
$primary: #1b8bff;


$transition-primary: 300ms ease-in-out;
$transition-fast: 200ms ease-in-out;