// header

.header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   padding: 40px;
   width: 100%;
   @include flex-sb-c;
}

.header__logo {
   width: 28px;
}

.header__links {
   > :not(:last-child) {
      margin-right: 40px;
   }
}