html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

html {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus, *:active {
  outline: none;
}

.wrap {
  max-width: 1400px;
  padding: 0 25px;
  margin: 0 auto;
}

@-webkit-keyframes banner-scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(150%);
  }
}

@keyframes banner-scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(150%);
  }
}
.h1 {
  font-size: 90px;
  line-height: 120%;
}
@media (max-width: 992px) and (min-width: 768px) {
  .h1 {
    font-size: 70px;
    line-height: 120%;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 40px;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
}

.h2-l {
  font-size: 70px;
  line-height: 120%;
}
@media (max-width: 992px) and (min-width: 768px) {
  .h2-l {
    font-size: 58px;
    line-height: 120%;
  }
}
@media (max-width: 767px) {
  .h2-l {
    font-size: 42px;
    line-height: 83%;
    letter-spacing: -0.02em;
  }
}

.h2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
@media (max-width: 992px) and (min-width: 768px) {
  .h2 {
    font-size: 34px;
    line-height: 82%;
  }
}
@media (max-width: 767px) {
  .h2 {
    font-size: 28px;
    line-height: 86%;
  }
}

.h3 {
  font-size: 36px;
  line-height: 120%;
}
@media (max-width: 992px) and (min-width: 768px) {
  .h3 {
    font-size: 30px;
    line-height: 84%;
  }
}
@media (max-width: 767px) {
  .h3 {
    font-size: 25px;
    line-height: 91%;
  }
}

.h4 {
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 991px) {
  .h4 {
    line-height: 94%;
    letter-spacing: -0.02em;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .h4 {
    font-size: 21px;
  }
}

.h5 {
  font-size: 18px;
  line-height: 120%;
}
@media (max-width: 991px) {
  .h5 {
    line-height: 104%;
    letter-spacing: -0.02em;
    font-size: 18px;
  }
}

.h6 {
  font-size: 14px;
  line-height: 120%;
}
@media (max-width: 991px) {
  .h6 {
    font-size: 14px;
    line-height: 105%;
    letter-spacing: -0.02em;
  }
}

.text-jumbo {
  font-size: 48px;
  line-height: 135%;
  font-weight: 300;
}
@media (max-width: 991px) {
  .text-jumbo {
    line-height: 150%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .text-jumbo {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .text-jumbo {
    font-size: 22px;
  }
}

.text-l {
  font-size: 20px;
  line-height: 160%;
}
@media (max-width: 991px) {
  .text-l {
    font-size: 18px;
    line-height: 150%;
  }
}

.text-m {
  font-size: 18px;
  line-height: 160%;
}
@media (min-width: 992px) {
  .text-m a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 991px) {
  .text-m {
    font-size: 14px;
    line-height: 150%;
  }
}

.text-s {
  font-size: 16px;
  line-height: 160%;
}
@media (max-width: 991px) {
  .text-s {
    font-size: 12px;
  }
}

.text-xs {
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
}
@media (max-width: 991px) {
  .text-xs {
    font-size: 12px;
  }
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.nav-link {
  color: #fff;
  font-size: 22px;
  line-height: 120%;
}

.nav-link--block {
  padding: 8px 18px;
  color: #000;
  background-color: #fff;
  transition: 300ms ease-in-out;
  transition-property: color background-color;
}
@media (min-width: 992px) {
  .nav-link--block:hover {
    color: #fff;
    background-color: #000;
  }
}

.hover-default {
  transition: 300ms ease-in-out;
  transition-property: opacity;
}
@media (min-width: 992px) {
  .hover-default:hover {
    opacity: 0.5;
  }
}

button {
  font-family: "Lato", sans-serif;
}

.arrow-button {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .arrow-button:hover .arrow-button__icon {
    transform: rotate(90deg);
  }
}

.arrow-button__icon {
  width: 12px;
  display: inline-block;
  margin-left: 10px;
  transition: 300ms ease-in-out;
  transition-property: transform;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 300ms ease-in-out;
  transition-property: background-color;
}
@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
}

.header--black {
  background-color: #000;
}

.header__logo {
  width: 28px;
}

@media (max-width: 991px) {
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background-color: #000;
    transform: translateY(-30px);
    transition: 300ms ease-in-out;
    transition-property: opacity transform;
  }
}

.header__nav--active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 991px) {
  .header__links-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__links > :not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 991px) {
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__links > :not(:last-child) {
    margin: 0 0 40px 0;
  }
}

.header__close {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (min-width: 993px) {
  .header__close {
    display: none;
  }
}

.header__close-first {
  width: 34px;
  height: 3px;
  background-color: #fff;
  transform: translateY(2px) rotate(45deg);
}

.header__close-second {
  width: 34px;
  height: 3px;
  background-color: #fff;
  transform: translateY(-1px) rotate(-45deg);
}

.header__open {
  display: none;
  height: 42px;
  width: 42px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header__open {
    display: flex;
  }
}

.header__open-icon {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: relative;
}
.header__open-icon::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
}
.header__open-icon::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 150px 0;
}
@media (max-width: 992px) and (min-width: 768px) {
  .banner {
    padding: 120px 0;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 80px 0;
  }
}

.banner__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.banner__wrap {
  height: 100%;
  display: flex;
}

.banner__video-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.banner__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.banner__content {
  position: relative;
  z-index: 1;
  align-self: flex-end;
}

.banner__heading {
  font-weight: 900;
  color: #fff;
}

.banner__paragraph {
  color: #fff;
}

.banner__text {
  color: #fff;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .banner__text {
    margin-bottom: 30px;
  }
}

.banner__animation {
  position: absolute;
  padding: 16px;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 36px;
  border-radius: 20px;
  outline: #fff 1px solid;
}
@media (max-width: 991px) {
  .banner__animation {
    display: none;
  }
}

.banner__animation-mask {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.banner__animation-line {
  border-radius: 3px;
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: banner-scroll 3s infinite;
          animation: banner-scroll 3s infinite;
}/*# sourceMappingURL=styles.css.map */