html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus, *:active {
  outline: none;
}

.loader {
  background-color: #000;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.loader--fade-out {
  opacity: 0;
}

.wrap {
  max-width: 1400px;
  padding: 0 80px;
  margin: 0 auto;
}

@media (max-width: 992px) and (min-width: 768px) {
  .wrap {
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  .wrap {
    padding: 0 20px;
  }
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

@-webkit-keyframes banner-scroll {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

@keyframes banner-scroll {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
}

.zoom-image {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.zoom-image--active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.h1 {
  font-size: 90px;
  line-height: 120%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .h1 {
    font-size: 70px;
    line-height: 120%;
  }
}

@media (max-width: 767px) {
  .h1 {
    font-size: 40px;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
}

.h1-small {
  font-size: 70px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .h1-small {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .h1-small {
    font-size: 30px;
  }
}

.h2-l {
  font-size: 70px;
  line-height: 120%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .h2-l {
    font-size: 58px;
    line-height: 120%;
  }
}

@media (max-width: 767px) {
  .h2-l {
    font-size: 42px;
    line-height: 83%;
    letter-spacing: -0.02em;
  }
}

.h2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

@media (max-width: 992px) and (min-width: 768px) {
  .h2 {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: 28px;
  }
}

.h3 {
  font-size: 36px;
  line-height: 120%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .h3 {
    font-size: 30px;
    line-height: 84%;
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: 25px;
    line-height: 91%;
  }
}

.h4 {
  font-size: 28px;
  line-height: 120%;
}

@media (max-width: 991px) {
  .h4 {
    font-size: 24px;
  }
}

.h5 {
  font-size: 24px;
  line-height: 120%;
}

@media (max-width: 991px) {
  .h5 {
    line-height: 94%;
    letter-spacing: -0.02em;
  }
}

@media (max-width: 767px) {
  .h5 {
    font-size: 21px;
  }
}

.h6 {
  font-size: 18px;
  line-height: 120%;
}

@media (max-width: 991px) {
  .h6 {
    line-height: 104%;
    letter-spacing: -0.02em;
    font-size: 18px;
  }
}

.text-jumbo {
  font-size: 48px;
  line-height: 135%;
  font-weight: 300;
}

@media (max-width: 991px) {
  .text-jumbo {
    line-height: 150%;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .text-jumbo {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .text-jumbo {
    font-size: 22px;
  }
}

.text-l {
  font-size: 20px;
  line-height: 160%;
}

@media (max-width: 991px) {
  .text-l {
    font-size: 18px;
    line-height: 150%;
  }
}

.text-m {
  font-size: 18px;
  line-height: 160%;
}

@media (min-width: 992px) {
  .text-m a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991px) {
  .text-m {
    font-size: 14px;
    line-height: 150%;
  }
}

.text-s {
  font-size: 16px;
  line-height: 160%;
}

@media (max-width: 991px) {
  .text-s {
    font-size: 12px;
  }
}

.text-xs {
  font-size: 14px;
  line-height: 160%;
  font-weight: 300;
}

@media (max-width: 991px) {
  .text-xs {
    font-size: 12px;
  }
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.hollow-white {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.hollow-black {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
}

.primary {
  color: #1b8bff;
}

.text-line {
  padding: 0 40px;
  position: relative;
}

.text-line::before {
  content: "";
  height: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
  background-color: #1b8bff;
}

.text-line::after {
  content: "";
  height: 2px;
  width: 30px;
  position: absolute;
  right: 0;
  top: calc(50% + 2px);
  background-color: #1b8bff;
}

a {
  display: inline-block;
}

.hover-default {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

@media (min-width: 992px) {
  .hover-default:hover {
    opacity: 0.6;
  }
}

.nav-link {
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  font-weight: 300;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0;
  pointer-events: none;
  background-color: #fff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: width;
  transition-property: width;
}

@media (min-width: 992px) {
  .nav-link:hover::after {
    width: 100%;
  }
}

.nav-link--block {
  padding: 8px 18px;
  color: #000;
  background-color: #fff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: color background-color;
  transition-property: color background-color;
}

@media (min-width: 992px) {
  .nav-link--block:hover {
    color: #fff;
    background-color: #000;
  }
  .nav-link--block:hover::after {
    content: unset;
  }
}

.block-link {
  background-color: #000;
  color: #fff;
  padding: 18px 24px;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .block-link:hover .block-link__icon {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (max-width: 991px) {
  .block-link {
    padding: 12px 16px;
  }
}

.block-link--white {
  background-color: #fff;
  color: #000;
}

.block-link--small {
  padding: 12px 16px;
}

.block-link__icon {
  width: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 4px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.arrow-link {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

.arrow-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  pointer-events: none;
  background-color: #000;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: width;
  transition-property: width;
}

@media (min-width: 992px) {
  .arrow-link:hover::after {
    width: 100%;
  }
  .arrow-link:hover .arrow-link__icon {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.arrow-link__icon {
  width: 10px;
  margin-left: 4px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.simple-link {
  font-size: 14px;
  color: #bbbbbb;
}

.simple-link__icon {
  width: 14px;
  margin-right: 12px;
}

button {
  font-family: "Lato", sans-serif;
}

.arrow-button {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .arrow-button:hover .arrow-button__icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.arrow-button__icon {
  width: 12px;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px 40px;
  width: 100%;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transition-property: background-color box-shadow backdrop-filter;
  transition-property: background-color box-shadow backdrop-filter;
}

@media (max-width: 991px) {
  .header {
    padding: 20px;
  }
}

.header--black {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 2.4px 10px rgba(0, 0, 0, 0.185), 0px 19px 80px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 2.4px 10px rgba(0, 0, 0, 0.185), 0px 19px 80px rgba(0, 0, 0, 0.37);
}

.header__logo {
  width: 120px;
}

@media (max-width: 991px) {
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 101;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background-color: #000;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    -webkit-transition-property: opacity transform;
    transition-property: opacity transform;
  }
}

.header__nav--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 991px) {
  .header__links-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__links > :not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 991px) {
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__links > :not(:last-child) {
    margin: 0 0 40px 0;
  }
}

.header__close {
  height: 42px;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media (min-width: 993px) {
  .header__close {
    display: none;
  }
}

.header__close--active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__close-first {
  width: 34px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.header__close-second {
  width: 34px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}

.header__open {
  display: none;
  height: 42px;
  width: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .header__open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__open-icon {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: relative;
}

.header__open-icon::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.header__open-icon::after {
  content: '';
  position: absolute;
  top: -8px;
  right: 0;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 150px 0;
}

@media (max-width: 992px) and (min-width: 768px) {
  .banner {
    padding: 120px 0;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 80px 0;
  }
}

.banner--animation .banner__heading-content {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.banner--animation .banner__paragraph {
  opacity: 1;
}

.banner--animation .banner__text {
  opacity: 1;
}

.banner--animation .banner__button {
  opacity: 1;
}

.banner--animation .banner__animation {
  opacity: 1;
}

.banner__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.banner__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
}

.banner__video-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.banner__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.banner__content {
  position: relative;
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner__heading {
  font-weight: 900;
  color: #fff;
  overflow: hidden;
}

.banner__heading-content {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  display: inline-block;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.banner__paragraph {
  color: #fff;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.banner__text {
  color: #fff;
  margin-bottom: 60px;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

@media (max-width: 991px) {
  .banner__text {
    margin-bottom: 30px;
  }
}

.banner__button {
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 1200ms;
          transition-delay: 1200ms;
}

.banner__animation {
  position: absolute;
  padding: 16px;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 36px;
  border-radius: 20px;
  outline: #fff 1px solid;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 1600ms;
          transition-delay: 1600ms;
}

@media (max-width: 991px) {
  .banner__animation {
    display: none;
  }
}

.banner__animation-mask {
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.banner__animation-line {
  border-radius: 3px;
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: banner-scroll 3s infinite;
          animation: banner-scroll 3s infinite;
}

.horizontal {
  padding: 110px 0;
  overflow: hidden;
}

@media (max-width: 992px) and (min-width: 768px) {
  .horizontal {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  .horizontal {
    padding: 50px 0;
  }
}

.horizontal__top {
  position: relative;
  margin-bottom: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

@media (max-width: 991px) {
  .horizontal__top {
    width: 100%;
    text-align: center;
    margin: 0 auto 40px;
  }
}

.horizontal__heading {
  margin-bottom: 5px;
}

.horizontal__background {
  position: absolute;
  height: 120px;
  top: -20px;
  left: 20px;
  opacity: 0.1;
}

@media (max-width: 991px) {
  .horizontal__background {
    height: 90px;
  }
}

.horizontal__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  gap: 60px;
  margin-top: 100px;
}

@media (max-width: 991px) {
  .horizontal__holder {
    display: unset;
  }
}

.horizontal__holder--reverse {
  -ms-grid-columns: 1fr 40%;
      grid-template-columns: 1fr 40%;
}

@media (max-width: 991px) {
  .horizontal__holder--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
}

.horizontal__image-holder {
  position: relative;
}

@media (max-width: 991px) {
  .horizontal__image-holder {
    width: calc(100% + 50px);
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    height: 300px;
  }
}

.horizontal__image-wrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.horizontal__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.horizontal__paragraphs {
  padding: 40px 0;
}

.horizontal__paragraphs > :not(:last-child) {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .horizontal__paragraphs {
    padding: 40px 0 0;
  }
  .horizontal__paragraphs > :not(:last-child) {
    margin-bottom: 40px;
  }
}

.horizontal__paragraph {
  color: #8a8a8a;
}

.image-out {
  padding: 230px 0 170px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .image-out {
    padding: 190px 0 130px;
  }
}

@media (max-width: 767px) {
  .image-out {
    padding: 170px 0 110px;
  }
}

.image-out--reverse .image-out__wrap::after {
  left: 0;
  right: unset;
}

.image-out--reverse .image-out__image-wrap {
  right: unset;
  left: 0;
}

.image-out--reverse .image-out__content {
  margin-left: auto;
}

.image-out__holder {
  background-color: #000;
}

.image-out__wrap {
  position: relative;
}

.image-out__wrap::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -60px;
  width: 70%;
  height: calc(100% + 180px);
  background-color: rgba(0, 0, 0, 0.3);
}

.image-out__image-wrap {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 70%;
  height: calc(100% + 180px);
  overflow: hidden;
}

.image-out__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.image-out__content {
  padding: 100px 0;
  position: relative;
  max-width: 650px;
  z-index: 3;
  color: #fff;
}

@media (max-width: 991px) {
  .image-out__content {
    max-width: 450px;
  }
}

.image-out__heading {
  margin-bottom: 60px;
  max-width: 500px;
}

@media (max-width: 991px) {
  .image-out__heading {
    margin-bottom: 40px;
  }
}

.image-out__paragraph {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .image-out__paragraph {
    margin-bottom: 40px;
  }
}

.three-columns {
  padding: 110px 0;
  position: relative;
}

.three-columns::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 992px) and (min-width: 768px) {
  .three-columns {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  .three-columns {
    padding: 50px 0;
  }
}

.three-columns__image-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.three-columns__image {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.three-columns__image--default {
  opacity: 1;
  z-index: -10;
}

.three-columns__image--active {
  opacity: 1;
}

.three-columns__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .three-columns__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.three-columns__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.33% - 20px);
          flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

@media (max-width: 991px) {
  .three-columns__description {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    max-width: unset;
  }
}

.three-columns__main-card {
  position: -webkit-sticky;
  position: sticky;
  top: 82px;
  left: 0;
  color: #fff;
}

@media (max-width: 991px) {
  .three-columns__main-card {
    position: relative;
    top: unset;
    margin-bottom: 40px;
  }
}

.three-columns__cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(66.66% - 20px);
          flex: 1 1 calc(66.66% - 20px);
  max-width: calc(66.66% - 20px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.three-columns__cards > :nth-child(even) {
  position: relative;
  top: 200px;
}

@media (max-width: 991px) {
  .three-columns__cards {
    max-width: unset;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .three-columns__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .three-columns__cards > :nth-child(even) {
    top: 0;
  }
}

.card {
  padding: 40px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .card {
    padding: 0;
  }
}

.card--border {
  border: 1px solid #8a8a8a;
  position: relative;
  background-color: #211c1d;
  color: #fff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.card--border .card__tag {
  margin-bottom: 80px;
}

.card--border .card__paragraph {
  color: #bbbbbb;
}

.card--border::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

@media (max-width: 991px) {
  .card--border {
    padding: 30px;
  }
}

.card--active {
  background-color: transparent;
}

.card--active .card__image {
  opacity: 1;
}

.card--active .card__paragraph {
  color: #fff;
}

.card--active::after {
  opacity: 1;
}

.card__image-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.card__content {
  position: relative;
  z-index: 2;
}

.card__tag {
  display: inline-block;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}

.card__heading {
  margin-bottom: 30px;
  max-width: 282px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}

@media (max-width: 991px) {
  .card__heading {
    max-width: 330px;
  }
}

.card__paragraph {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .card__paragraph {
    max-width: 470px;
  }
}

.card__link {
  border: 1px solid #000;
}

.image {
  padding: 110px 0;
  position: relative;
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

@media (max-width: 992px) and (min-width: 768px) {
  .image {
    padding: 70px 0;
  }
}

@media (max-width: 767px) {
  .image {
    padding: 50px 0;
  }
}

.image__image-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.image__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image__heading {
  margin-bottom: 40px;
  color: #fff;
  max-width: 500px;
}

@media (max-width: 991px) {
  .image__heading {
    margin-bottom: 20px;
  }
}

.image__paragraph {
  color: #fff;
  margin-bottom: 80px;
  max-width: 600px;
}

@media (max-width: 991px) {
  .image__paragraph {
    margin-bottom: 40px;
  }
}

.footer {
  position: relative;
}

.footer__content {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer__content {
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  .footer__content {
    padding: 40px 0;
  }
}

.footer__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer__wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .footer__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.footer__segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__heading {
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
}

.footer__heading::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -1px;
  width: 110%;
  height: 12px;
  background-color: #1e1e1e;
  z-index: -1;
}

.footer__desc {
  color: #bbbbbb;
  margin-bottom: 40px;
  max-width: 320px;
}

.footer__link {
  margin-bottom: 8px;
}

.footer__bottom {
  background-color: #1e1e1e;
  padding: 12px 0;
  color: #bbbbbb;
}
/*# sourceMappingURL=styles.css.map */